html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/*no padding!*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.row-padding img {margin-bottom: 12px}
.sidebar {width: 120px;background: #222;}
/* left margin to accomodate for the sidebar */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}


/* For color */
.back_black,.hover_black:hover{color:#fff!important;background-color:#151515!important}.background_text{color:#151515;}
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto;margin:0;padding:0}.active{background-color:#FFFFFF;color:#ffffff}
@media (min-width:993px){.modal-content{width:900px}.hide-large{display:none!important}.sidebar.collapse{display:block!important}}
@media (max-width:992px){.sidebar.collapse{display:none}.main{margin-left:0!important;margin-right:0!important}}
.main,#main{transition:margin-left .4s}
.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.bar{width:100%;overflow:hidden}.center .bar{display:inline-block;width:auto}

/* Layout pertaining settings such as padding*/
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-rec{padding-bottom:12px!important}
.content{max-width:940px;margin:auto}.rest{overflow:hidden}
.section,.code{margin-top:16px!important;margin-bottom:16px!important}
.image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

/* hover sidebar */
.ul.nav-pills{top:50px; position:sticky;background-color:#000000; color:#000000;}

/* alignment */
.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}.bottom{bottom:0}
.wide{letter-spacing:4px}
.margin-left{margin-left:16px!important}.push-left{margin-left:0px!important}.margin-right{margin-right:16px!important}.paragraph-shift{margin-left:40px!important}
.margin-pics{margin-left:24px!important}.role-shift{margin-right:60px!important}

/* font size and color*/
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
.tiny{font-size:10px!important}.mid_small{font-size:12px!important}.medium{font-size:15px!important}.large{font-size:18px!important}
.xlarge{font-size:24px!important}.xxlarge{font-size:36px!important}.xxxlarge{font-size:48px!important}.jumbo{font-size:64px!important}
.jumbo{font-size:64px!important}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{color:#757575!important}
.text-dark-white,.hover-text-dark-white:hover{color:#dfdfdf;}
.text-white,.hover-text-white:hover{color:#fff!important}
.text-black,.hover-text-black:hover{color:#000!important}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.white,.hover-white:hover{color:#000!important;background-color:#000!important}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.dark-green,.hover-dark-green:hover,.dark-green,.hover-dark-green:hover{color:#fff!important;background-color:#002040!important}

/* bar drawing setters */
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.bar .dropdown-hover,.bar .dropdown-click{position:static;float:left}
.bar .button{white-space:normal}
.bar-block .dropdown-hover,.bar-block .wdropdown-click{width:100%}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{min-width:100%}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}

/* button display */
.btn,.button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.button:hover{color:#000!important;background-color:#ccc!important}

/* padding settings */
.padding-small{padding:4px 8px!important}.padding{padding:8px 16px!important}.padding-large{padding:12px 24px!important}
.opacity,.hover-opacity:hover{opacity:0.60}.opacity-off,.hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}


/* gallery */
div.gallery {margin: 0 0px;border: 1px solid #777; border-color: #090909; float: left;width: 300px;}
div.gallery:hover {border: 1px solid #fff; border-color: #999;}
div.gallery img {width: 100%; height: auto; margin:0px;}
div.desc {padding: 15px; text-align: center;}


/* hiding the good stuff 
.hide{display:none!important}.show-block,.show{display:block!important}.show-inline-block{display:inline-block!important}
@media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}.modal{padding-top:30px}
.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{position:relative}	
.hide-small{display:none!important}.mobile{display:block;width:100%!important}.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile{text-align:center}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}
@media (min-width:993px){.modal-content{width:900px}.hide-large{display:none!important}.sidebar.collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.whide-medium{display:none!important}}
/*.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}*/

/* For hovering */
.tooltip-mine {position: relative; display:inline-block; border-bottom: 1px dotted black;} 
.tooltip-mine .tooltip-minetext {visibility: hidden; width: 120px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; bottom: 30%; left: 50%; margin-left: -60px;
    /* Fade in tooltip-mine - takes 1 second to go from 0% to 100% opac: */
    opacity: 0; transition: opacity 1s;} 
.tooltip-mine:hover .tooltip-minetext {visibility:visible;opacity: 1;} 
.row-pics { display: flex; flex-wrap: wrap; padding: 0 0px;}

/* Create four equal columns that sits next to each other */
.column-pics { flex: 25%; max-width: 35%; padding: 0 10px; /*border:.3px solid #ccc;*/} 
.column-pics img { margin-top:0px!important; vertical-align: middle!important;}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) { .column-pics {flex: 50%; max-width: 50%;}}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) { .column-pics { flex: 100%; max-width: 100%;}}
