html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/*no padding!*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

body, h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat", 
	sans-serif,-moz-transition: 
	border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

.row-padding img {
	margin-bottom: 12px
}
#main {
	margin:0;padding:0;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
	#main {margin:0;}
}

.no-pad {
	padding: 0;
}

.back_black,.hover_black:hover{
	color:#fff;
	background-color:#1f1f1f;
}

.background_text{
	color:#1f1f1f;
}

.intro-image-container {
	margin:0;
	padding:0;
}

.barrybackground {
    background-image: url("../images/airportcasual_trim.jpg");
    /*background-image: url("../images/glass-adj.jpg");*/
    height: 55em; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay-center {
	position: absolute;
    top: 48%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.a-blue {
	color: #d0fffd;
}

.a-blue:hover {
	color: #fffdd0;
	text-decoration: none;
}

.dark-title {
	color: #000040;
}

.header-center {
	text-align: center;
	margin-top:4em;
}

.about-sec {
	margin:0;
	background-color: #262626;
	padding:2em;
}

.about-sec-alt {
	margin: 0;
	background-color: #303030;
	padding:2em;
}

.about-sec-alt-b {
	margin: 0;
	background-color: #383838;
	padding:2em;
}

.about-head {
	border-bottom: 1em;
	border-color:white;
	margin-bottom: 0.05em;
}

.about-head-div {
	width:5em;
	margin-top: .5em
}

.about-text {
	margin:0;
}

@media (min-width:993px) {
	.modal-content{width:900px}
	.hide-large{display:none}
	.sidebar.collapse{display:block}
	.main {margin-top:2em;}
}

@media (max-width:992px) {
	.sidebar.collapse{display:none}
	.main{margin-left:0;margin-right:0}
}

@media (max-width:600px) {
	.content {
		padding-right:1em;
		padding-left:1em;
		margin:auto;
	}

	.barrybackground {
		height: 42em; 
	    width: 100%;
	}

	.image-overlay-center {
		position: absolute;
	    top: 55%;
	    left: 66%;
	    transform: translate(-50%, -50%);
	}

	.image-overlay-center>h2 {
		font-size: 3em;
	}

	.image-overlay-center>h6 {
		font-size:1.5em;
		text-align: center;
	}
}

@media (min-width:601px) {
	.content {
		padding-right:25em;
		padding-left:25em;
		margin:auto;
	}

	.foot-content {
		padding-left: 10em;
		text-align: left;
	}

	.image-overlay-center {
		white-space: nowrap;
	}

	.image-overlay-center>h2 {
		font-size: 6em;
	}

	.image-overlay-center>h6 {
		font-size:1.5em;
		text-align: center;
	}

	.dark-title-pc {
		color: #000040;
	}
}

@media (min-width:1500px) {
	.image-overlay-center {
		position: absolute;
	    top: 49%;
	    left: 66%;
	    transform: translate(-50%, -50%);
	}
	.barrybackground {
	    height: 70em; 
	    width: 100%;
	}
}


.main,#main {
	transition:margin-left .4s
}
.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:600px;
}

/*.bar {
	width:100%;overflow:hidden
}*/
.center .bar {
	display:inline-block; 
	width:auto;
}

a {
	color:white;
}

.padding-32{ 
	padding-top:32px;
	padding-bottom:32px;
}
.padding-64 {
	padding-top:64px;
	padding-bottom:64px
 }
.padding-16{
	padding-top:16px;padding-bottom:16px
}

.padding-bottom {padding-bottom:5em;}
.padding-rec {padding-bottom:12px}


.section-title-pad>h2 {
	padding-left:4em;
	margin:auto;
}

.rest{
	overflow:hidden
}


/* hover sidebar */
.ul.nav-pills {
	top:50px; position:sticky;background-color:#000000; color:#000000;
}

/* alignment */
.left-align{
	text-align:left
}
.right-align{
	text-align:right
}
.justify {
	text-align:justify
} 
.center {
	text-align:center
}

.button {
	background-color: #444444!important;
}

.top,.bottom{
	/*position:fixed;*/
	position:sticky;
	width:auto;
	z-index:1;
	margin:0;
	padding:0;
}
.top {
	top:0;
}
.bottom {
	bottom:0;
}

.wide{letter-spacing:4px}
.margin-left{margin-left:16px}.push-left{margin-left:0px}.margin-right{margin-right:16px}.paragraph-shift{margin-left:40px}
.margin-pics{margin-left:24px}.role-shift{margin-right:60px}

/* font size and color*/
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
.tiny{font-size:10px}.mid_small{font-size:12px}.medium{font-size:15px}.large{font-size:18px}
.xlarge{font-size:24px}.xxlarge{font-size:36px}.xxxlarge{font-size:48px}.jumbo{font-size:64px}
.jumbo{font-size:64px}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{color:#757575}
.text-dark-white,.hover-text-dark-white:hover{color:#dfdfdf;}
.text-white,.hover-text-white:hover{color:#fff}
.text-black,.hover-text-black:hover{color:#000}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{color:#000;background-color:#f1f1f1}
.white,.hover-white:hover{color:#000;background-color:#000}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{color:#fff;background-color:#616161}
.dark-green,.hover-dark-green:hover,.dark-green,.hover-dark-green:hover{color:#fff;background-color:#002040}

/* bar drawing setters */
.bar .bar-item{padding:3% 3%;float:left;width:auto;border:none;outline:none;display:block}
.bar .dropdown-hover,.bar .dropdown-click{position:static;float:left}
.bar .button{white-space:normal}
.bar-block .dropdown-hover,.bar-block .wdropdown-click{width:100%}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{min-width:100%}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}

/* button display */
.btn,.button {
	border:none;
	display:inline-block;
	outline:0;padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.button:hover {
	color:#000;
	background-color:#ccc
}

/* padding settings */
.padding-small {padding:4px 8px}.padding{padding:8px 16px}.padding-large{padding:12px 24px}

hr {
	border: 0;
	clear:both;
	display:block;              
	background-color:#ffffff;
	height: 1px;
}

.opacity,.hover-opacity:hover{
	opacity: 0.60;
}

.opacity-off,.hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.opacity-min{opacity:0.75}


.section-title {
	text-align:center;
	background-color: #CD5C5C;
}

.portfolio-section {
	background-color: #404040;
}

.spotlight-box {
	margin-left:0!important;
	margin-right:0!important;
}

.spotlight {
	background-color: #344769;;
}

.spotlight-alt {
	background-color: #344769;
}

.pic {
	padding:0;
}

.portfolio-img {
	width:100em;
	max-width:100%;
	/*max-height:20em;*/
}

.portfolio-img-lg {
	width:100em;
	max-width:100%;
	max-height:35em;
}

.portfolio-title {
	margin:0!important;
	text-align: center;
	background-color: #2E3D59;
	width: 100%;
	display: inline-block;
}

.portfolio-title>h5 {
	font-size: 1.5em;
	text-align:center;
	font-weight:700;
	display:block;
}

.portfolio-proj-title {
	margin:0!important;
	text-align: center;
	background-color: #6E353E;
	width: 100%;
	display: inline-block;
}

.portfolio-proj-title>h5 {
	font-size: 1.5em;
	text-align:center;
	font-weight:700;
	display:block;
}

.portfolio-body {
	margin:0;
}

.portfolio-desc {
	padding:4em;
}

.portfolio-desc>h5 {
	font-size:2em;
	font-weight: 800;
}

.spotlight-proj {
	background-color: #7D404A;
}

.spotlight-proj-alt {
	background-color: #7D404A;
}

/* gallery */
div.gallery {margin: 0 0px; float: left;width: 300px;}
div.gallery:hover {border: 1px solid #fff; border-color: #999;}
div.gallery img {width: 100%; height: auto; margin:0px;}
div.desc {padding: 15px; text-align: center;}

.row-pics { display: flex; flex-wrap: wrap; padding: 0 0px;}
.column-pics { flex: 25%; max-width: 33%; padding: 0 10px; /*border:.3px solid #ccc;*/} 
.column-pics img { margin-top:0px; vertical-align: middle;}

.tooltip-mine {
	position: relative; 
	display:inline-block; 
} 
.tooltip-mine .tooltip-minetext {
	visibility: hidden; 
	width: 120px; 
	background-color: black; 
	color: #fff; 
	text-align: center; 
	border-radius: 6px; 
	padding: 5px 0; 
	position: absolute; 
	z-index: 1; 
	bottom: 50%; 
	left: 50%; 
	margin-left: -60px;
    opacity: 0; 
    transition: opacity 1s;
} 
.tooltip-mine:hover .tooltip-minetext {
	visibility:visible;opacity: 1;
} 


/* makes a two column-layout instead of four columns */
@media (max-width: 800px) { .column-pics {flex: 50%; max-width: 50%;}}
/* the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) { .column-pics { flex: 100%; max-width: 100%;}}


 /*hiding the good stuff */
.hide{display:none}.show-block,.show{display:block}.show-inline-block{display:inline-block}

@media (max-width:600px){
	.modal-content {
		margin:0 10px;width:auto
	}
	.modal {
		padding-top:30px
	}
	.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content {
		position:relative
	}	
	.hide-small {
		display:none
	}
	.mobile {
		display:block;width:100%
	}
	.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile {
		text-align:center
	}
	.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button {
		width:100%
	}
	.portfolio-desc {
		padding:1.3em;
		padding-bottom:2em;
	}

	.portfolio-desc>h5 {
		font-size:1.3em;
		font-weight: 800;
	}

	.portfolio-title>h5 {
		font-size: 1.2em;
		font-weight:700;
	}

	/*.portfolio-img {
		display:none;
	}*/
}
@media (min-width:993px) {
	.modal-content {
		width:900px
	}
	.hide-large {
		display:none
	}
	.sidebar.collapse {
		display:block
	}
}
@media (max-width:992px) and (min-width:601px){.whide-medium{display:none}}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}}

